body 
{
    font-family: 'Times New Roman',Times,sans-serif;
    background-color: #f8f5f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c4a3e;
    color: #fff;
}

.logo 
{
    font-size: 1.9em;
    font-family: 'Bilbo', cursive;
}

.logo-icon 
{
    color: #ff6b35;
    margin-right: 5px;
}

.navbar a 
{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cta-button 
{
    background-color: #ffc107;
    color: #2c4a3e;
    padding: 10px 15px;
    border-radius: 5px;
}

.main-content 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #f8f5f0;
}

.profile-section 
{
    flex: 1;
    max-width: 40%;
    text-align: center;
}

.profile-image 
{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}
.profile-image 
{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.6),
                0 0 20px rgba(255, 255, 0, 0.5), 
                0 0 30px rgba(255, 255, 0, 0.4); 
}


.profile-details 
{
    margin-top: 20px;
    font-size: 1.2em;
    background-color: #ffc107;
}

.contact-section 
{
    flex: 1;
    max-width: 50%;
    padding-left: 50px;
    
}

.contact-details 
{
    background-color: #2c4a3e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.contact-details ul 
{
    list-style: none;
    padding: 0;
}

.contact-details li 
{
    margin-bottom: 10px;
}

.contact-details a 
{
    color: #ffc107;
    text-decoration: none;
}

.hero-text 
{
    font-family: 'Patrick Hand', cursive;
    font-size: 3em;
}

.hero-description 
{
    margin-top: 20px;
    font-size: 1em;
    font-family: 'Comic Neue';
    font-weight: 1000;

}

.highlight 
{
    background-color: #ffc107;
    color: #2c4a3e;
    padding: 5px 10px;
    border-radius: 5px;
}
.footer 
{
    background-color: black;
    color: white; 
    padding: 4px 5px; 
    text-align: center; 
    max-height: 200px;
    font-family: 'Antic Didone';
}